body {
  font-family: "Helvetica";
}

h1 {
  font-weight: 200;
}

div {
  padding-left: 30px;
}

.my-container {
  position: absolute;
  width: 85%;
  height: 75%;
}

.click-me {
  position: absolute;
  padding: 20px;
  background: ivory;
  border: solid thin blue;
  border-radius: 10px;
  margin-left: 30px;
  top: 0;
  left: 0;
  box-shadow: -5px 5px 2px 0px rgba(0,0,0,0.50);
  transition: top 200ms ease-in-out, left 200ms ease-in-out;
}

.click-me:hover {
  background: beige;
  cursor: pointer;
}